VK_ACCESS_TOKEN=replace_me
VK_GROUP=peninsula51
VK_API_VERSION=5.199

MAX_ACCESS_TOKEN=replace_me
MAX_CHAT_ID=-77162942582085
MAX_API_URL=https://platform-api2.max.ru
# MAX_CA_FILE=/path/to/russian-trusted-ca.pem

POSTGRES_DB=news_reposter
POSTGRES_USER=news_reposter
POSTGRES_PASSWORD=news_reposter
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_ECHO=false
